.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 2em 60em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.apartment:before {
      background-position: 0em 0em;
      width: 2em;
      height: 2em;
  }




  .icon.cloud:before {
      background-position: 0em -2em;
      width: 2em;
      height: 2em;
  }




  .icon.cloud-check:before {
      background-position: 0em -4em;
      width: 2em;
      height: 2em;
  }




  .icon.cloud-download:before {
      background-position: 0em -6em;
      width: 2em;
      height: 2em;
  }




  .icon.cloud-sync:before {
      background-position: 0em -8em;
      width: 2em;
      height: 2em;
  }




  .icon.cloud-upload:before {
      background-position: 0em -10em;
      width: 2em;
      height: 2em;
  }




  .icon.cog:before {
      background-position: 0em -12em;
      width: 2em;
      height: 2em;
  }




  .icon.dice:before {
      background-position: 0em -14em;
      width: 2em;
      height: 2em;
  }




  .icon.drop:before {
      background-position: 0em -16em;
      width: 2em;
      height: 2em;
  }




  .icon.envelope:before {
      background-position: 0em -18em;
      width: 2em;
      height: 2em;
  }




  .icon.eye:before {
      background-position: 0em -20em;
      width: 2em;
      height: 2em;
  }




  .icon.flag:before {
      background-position: 0em -22em;
      width: 2em;
      height: 2em;
  }




  .icon.heart:before {
      background-position: 0em -24em;
      width: 2em;
      height: 2em;
  }




  .icon.home:before {
      background-position: 0em -26em;
      width: 2em;
      height: 2em;
  }




  .icon.inbox:before {
      background-position: 0em -28em;
      width: 2em;
      height: 2em;
  }




  .icon.lighter:before {
      background-position: 0em -30em;
      width: 2em;
      height: 2em;
  }




  .icon.lock:before {
      background-position: 0em -32em;
      width: 2em;
      height: 2em;
  }




  .icon.magic-wand:before {
      background-position: 0em -34em;
      width: 2em;
      height: 2em;
  }




  .icon.moon:before {
      background-position: 0em -36em;
      width: 2em;
      height: 2em;
  }




  .icon.paperclip:before {
      background-position: 0em -38em;
      width: 2em;
      height: 2em;
  }




  .icon.pencil:before {
      background-position: 0em -40em;
      width: 2em;
      height: 2em;
  }




  .icon.pointer-left:before {
      background-position: 0em -42em;
      width: 2em;
      height: 2em;
  }




  .icon.poop:before {
      background-position: 0em -44em;
      width: 2em;
      height: 2em;
  }




  .icon.printer:before {
      background-position: 0em -46em;
      width: 2em;
      height: 2em;
  }




  .icon.shirt:before {
      background-position: 0em -48em;
      width: 2em;
      height: 2em;
  }




  .icon.smile:before {
      background-position: 0em -50em;
      width: 2em;
      height: 2em;
  }




  .icon.star-empty:before {
      background-position: 0em -52em;
      width: 2em;
      height: 2em;
  }




  .icon.star-half:before {
      background-position: 0em -54em;
      width: 2em;
      height: 2em;
  }




  .icon.sun:before {
      background-position: 0em -56em;
      width: 2em;
      height: 2em;
  }




  .icon.trash:before {
      background-position: 0em -58em;
      width: 2em;
      height: 2em;
  }





